h1 drift bottles



= link_to 'Throw a bottle', bottles_path
| |
= link_to 'Pick up a bottle', new_bottle_path
| |
= link_to  "Publish your comment", bottle_comment_path
| |
= link_to  "Show all comments", bottle_comments_path
